## Exercícios

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [2]:
import pandas as pd
from pathlib import Path
# import sqlite3

# Caminho absoluto até a pasta onde as subpastas estão localizadas
pastaArquivos = Path("/Users/matheuspassossilva/Library/CloudStorage/Dropbox/GitHub/analise-dados-pandas-sql/arquivos")

# Caminhos para os arquivos CSV e para o banco de dados
arquivoGasolina2000 = pastaArquivos / "gasolina_2000+.csv"
arquivoGasolina2010 = pastaArquivos / "gasolina_2010+.csv"
# arquivoBD = pastaArquivos / "desafio.db"

# Conexão com o banco de dados SQLite
# conexaoArquivoDB = sqlite3.connect(str(arquivoBD))

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil. 

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [3]:
dfGasolina2000 = pd.read_csv(arquivoGasolina2000, index_col=0, low_memory=False)
dfGasolina2010 = pd.read_csv(arquivoGasolina2010, index_col=0, low_memory=False)
dfCombinado = pd.concat([dfGasolina2000, dfGasolina2010], ignore_index=True)

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [5]:
dfCombinado.shape

(120823, 18)

In [4]:
dfCombinado.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [6]:
dfCombinado.tail()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [7]:
dfCombinado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 16.6+ MB

In [8]:
dfCombinado.columns

Index(['DATA INICIAL', 'DATA FINAL', 'REGIÃO', 'ESTADO', 'PRODUTO',
       'NÚMERO DE POSTOS PESQUISADOS', 'UNIDADE DE MEDIDA',
       'PREÇO MÉDIO REVENDA', 'DESVIO PADRÃO REVENDA', 'PREÇO MÍNIMO REVENDA',
       'PREÇO MÁXIMO REVENDA', 'MARGEM MÉDIA REVENDA',
       'COEF DE VARIAÇÃO REVENDA', 'PREÇO MÉDIO DISTRIBUIÇÃO',
       'DESVIO PADRÃO DISTRIBUIÇÃO', 'PREÇO MÍNIMO DISTRIBUIÇÃO',
       'PREÇO MÁXIMO DISTRIBUIÇÃO', 'COEF DE VARIAÇÃO DISTRIBUIÇÃO'],
      dtype='object')

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [9]:
type(dfCombinado["DATA INICIAL"][2])

str

In [10]:
type(dfCombinado["DATA FINAL"][2])

str

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [11]:
dfCombinado[["DATA FINAL", "DATA INICIAL"]] = dfCombinado[["DATA FINAL", "DATA INICIAL"]].apply(lambda x: pd.to_datetime(x, format="%Y-%m-%d"))

In [12]:
type(dfCombinado["DATA FINAL"][2])

pandas._libs.tslibs.timestamps.Timestamp

In [13]:
dfCombinado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  datetime64[ns]
 1   DATA FINAL                     120823 non-null  datetime64[ns]
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(1), object(10)
memory usage: 16.6+ MB

In [14]:
dfCombinado["DATA INICIAL"][2].month

5

In [15]:
dfCombinado["DATA INICIAL"]

0        2004-05-09
1        2004-05-09
2        2004-05-09
3        2004-05-09
4        2004-05-09
            ...
120818   2021-04-25
120819   2021-04-25
120820   2021-04-25
120821   2021-04-25
120822   2021-04-25
Name: DATA INICIAL, Length: 120823, dtype: datetime64[ns]

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [30]:
dfCombinado['ANO_MES'] = dfCombinado['DATA FINAL'].dt.to_period('M')
# dfCombinado['ANO_MES'] = dfCombinado['DATA FINAL'].dt.strftime('%Y-%m')
# dfCombinado["ANO_MES"] = dfCombinado["DATA FINAL"].apply(lambda x: "{}".format(x.year)) + dfCombinado["DATA FINAL"].apply(lambda x: "-{:02d}".format(x.month)) # Opção do professor

In [31]:
dfCombinado["ANO_MES"]

0         2004-05
1         2004-05
2         2004-05
3         2004-05
4         2004-05
           ...
120818    2021-05
120819    2021-05
120820    2021-05
120821    2021-05
120822    2021-05
Name: ANO_MES, Length: 120823, dtype: period[M]

In [32]:
dfCombinado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 19 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  datetime64[ns]
 1   DATA FINAL                     120823 non-null  datetime64[ns]
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
 18  ANO_MES                        120823 non-null  period[M]
dtypes: datetime64[ns](2), float64(5), int64(1), object(10), period[M](1)
memory usage: 17.5+ MB

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [33]:
dfCombinado["PRODUTO"].value_counts()

PRODUTO
GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: count, dtype: int64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [35]:
dfGasolinaComum = dfCombinado[dfCombinado['PRODUTO'] == 'GASOLINA COMUM']

In [36]:
dfGasolinaComum

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO_MES
9256,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.990,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05
9257,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.850,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05
9258,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.000,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05
9259,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.970,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05
9260,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.000,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.310,5.530,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.640,5.599,-99999.0,0.050,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.410,5.699,-99999.0,0.016,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.160,5.578,6.119,-99999.0,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05

In [37]:
dfGasolinaComum.shape

(23570, 19)

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [38]:
dfGasolinaComum[dfGasolinaComum["ANO_MES"] == "2008-08"]["PREÇO MÉDIO REVENDA"].mean()

2.6012444444444442

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [39]:
dfGasolinaComum[(dfGasolinaComum["ESTADO"] == "SAO PAULO") & (dfGasolinaComum["ANO_MES"] == "2014-05")]["PREÇO MÉDIO REVENDA"].mean()

2.8822

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [41]:
dfAcimaDeCinco = dfGasolinaComum[dfGasolinaComum["PREÇO MÁXIMO REVENDA"] > 5]
resultado = dfAcimaDeCinco[["ANO_MES", "ESTADO", "PREÇO MÁXIMO REVENDA"]]
resultado

        ANO_MES          ESTADO  PREÇO MÁXIMO REVENDA
92471   2017-09            ACRE                 5.100
92771   2017-09            ACRE                 5.200
93072   2017-09            ACRE                 5.200
93371   2017-10            ACRE                 5.200
93671   2017-10            ACRE                 5.200
...         ...             ...                   ...
120721  2021-05         RORAIMA                 5.530
120722  2021-05  SANTA CATARINA                 5.599
120723  2021-05       SAO PAULO                 6.099
120724  2021-05         SERGIPE                 5.699
120725  2021-05       TOCANTINS                 6.119

[1599 rows x 3 columns]

In [43]:
resultado.head(20)

       ANO_MES          ESTADO  PREÇO MÁXIMO REVENDA
92471  2017-09            ACRE                 5.100
92771  2017-09            ACRE                 5.200
93072  2017-09            ACRE                 5.200
93371  2017-10            ACRE                 5.200
93671  2017-10            ACRE                 5.200
93972  2017-11            ACRE                 5.200
94272  2017-11            ACRE                 5.200
94573  2017-12            ACRE                 5.200
94875  2017-12            ACRE                 5.150
95176  2018-01            ACRE                 5.150
95189  2018-01            PARA                 5.040
95194  2018-01  RIO DE JANEIRO                 5.099
95327  2018-01            ACRE                 5.150
95340  2018-01            PARA                 5.040
95478  2018-01            ACRE                 5.150
95491  2018-01            PARA                 5.040
95496  2018-01  RIO DE JANEIRO                 5.099
95630  2018-01            ACRE                 5.150
95643  2018-01            PARA                 5.040
95648  2018-01  RIO DE JANEIRO                 5.099

### 11. Qual a média de preço dos estados da região sul em 2012?

In [50]:
dfGasolinaComum[(dfGasolinaComum["REGIÃO"] == "SUL") & (dfGasolinaComum["ANO_MES"].dt.strftime('%Y') == "2012")][["PREÇO MÉDIO REVENDA", "ESTADO"]].groupby(["ESTADO"]).mean()

                   PREÇO MÉDIO REVENDA
ESTADO
PARANA                        2.684731
RIO GRANDE DO SUL             2.759308
SANTA CATARINA                2.720288

In [51]:
dfGasolinaComum[(dfGasolinaComum["REGIÃO"] == "SUL") & (dfGasolinaComum["ANO_MES"].dt.strftime('%Y') == "2012")][["PREÇO MÉDIO REVENDA"]].mean()

PREÇO MÉDIO REVENDA    2.721442
dtype: float64

In [52]:
df_aux = dfGasolinaComum[dfGasolinaComum["DATA FINAL"].apply(lambda x: x.year) == 2012]
df_aux[df_aux["REGIÃO"] == "SUL"]["PREÇO MÉDIO REVENDA"].mean()

2.7214423076923073

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [54]:
dfGasolinaComum["MES"] = dfGasolinaComum["DATA FINAL"].apply(lambda x: x.month)
dfRio = dfGasolinaComum[dfGasolinaComum["ESTADO"] == "RIO DE JANEIRO"]
dfMesRio = dfRio.groupby("ANO_MES")[["PREÇO MÉDIO REVENDA", "MES"]].last()
(dfMesRio[dfMesRio["MES"] == 12] / dfMesRio[dfMesRio["MES"] == 12].shift(1) - 1) * 100

/var/folders/nt/_j3hvbp55v900j_y7l4tsy0h0000gn/T/ipykernel_58816/4177265002.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfGasolinaComum["MES"] = dfGasolinaComum["DATA FINAL"].apply(lambda x: x.month)

         PREÇO MÉDIO REVENDA  MES
ANO_MES
2004-12                  NaN  NaN
2005-12             9.233449  0.0
2006-12             0.917065  0.0
2007-12             0.355591  0.0
2008-12             0.984252  0.0
2009-12             1.637427  0.0
2010-12             2.032988  0.0
2011-12             7.105263  0.0
2012-12             0.982801  0.0
2013-12             6.777894  0.0
2014-12             4.361979  0.0
2015-12            20.461634  0.0
2016-12             3.625065  0.0
2017-12            13.643178  0.0
2018-12             5.804749  0.0
2019-12             3.802993  0.0
2020-12            -1.321321  0.0

In [55]:
((dfMesRio[dfMesRio["MES"] == 12] / dfMesRio[dfMesRio["MES"] == 12].shift(1) - 1) * 100).rolling(3).sum()

         PREÇO MÉDIO REVENDA  MES
ANO_MES
2004-12                  NaN  NaN
2005-12                  NaN  NaN
2006-12                  NaN  NaN
2007-12            10.506106  0.0
2008-12             2.256908  0.0
2009-12             2.977270  0.0
2010-12             4.654667  0.0
2011-12            10.775678  0.0
2012-12            10.121052  0.0
2013-12            14.865958  0.0
2014-12            12.122674  0.0
2015-12            31.601507  0.0
2016-12            28.448678  0.0
2017-12            37.729878  0.0
2018-12            23.072992  0.0
2019-12            23.250920  0.0
2020-12             8.286421  0.0

### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.